<%= form_for [@school, @student] do |f| %>
  <div class="inputs">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, required: true %>
    <br/>
    <%= f.label :student_number %>
    <%= f.number_field :student_number, required: true %>
    <br/>
    <%= f.label :gpa %>
    <%= f.number_field :gpa, class: :text_field, step: :any%>
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

