<h1>Students at <%@student.student.name%></h1>

<table>
  <thead>
    <tr>
      <th>Students</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= link_to 'Show', school_student_path(@school, student) %></td>
        <td><%= link_to 'Edit', edit_school_student_path(@school, student) %></td>
        <td><%= link_to 'Destroy', school_student_path(@school, student), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New student', new_school_student_path %>
